# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\Andrè\Google Drive\Skole\7. Semester\DAT250\Repo\expass4\dat250-sparkjava-counter\counters\counters\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
